.navigation-categories .category-list {
  margin-bottom: 0;

  .category-name_preview {
    color: var(--category-14-color) !important;
    font-size: var(--font-down-1);
  }

  .category-text-title {
    .d-icon {
      width: 0.74em;
      height: 0.74em;
      color: var(--primary-medium);
      padding-right: 5px;
    }
  }
}

.preview-main-category {
  tbody {
    @if $location-of-previews =="below_categories" {
      border-top: none;
    }
  }

  &.category-list-item {
    padding-left: 0px;

    @supports (hanging-punctuation: first) and (font: -apple-system-body) {
      margin-left: -3px;
    }
  }
}