.navigation-categories .category-list {
  margin-bottom: 0;
}

.preview-main-category {
  margin-left: 3px;
  tbody {
    @if $location-of-previews == "below_categories" {
      border-top: none;
    }
  }
}
